@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Sofia");
@import "variablas";
@font-face {
    font-family: "Poppins";
    src: url("style/font/Poppins-Regular.eot");
    src: url("style/font/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("style/font/Poppins-Regular.woff2") format("woff2"), url("style/font/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin font {
    font-family: Roboto;
    font-size: 1rem;
}

@mixin Overal {
    font-family: "Roboto";
    color: $mainBlack;
    background-color: $mainWhite;
}

@mixin md {
    @media screen and(min-width: 768px) {
        @content;
    }
}

@mixin sm {
    @media screen and(max-width: 350px) {
        @content;
    }
}